Django==1.10
Pillow==3.3.1
Unidecode==0.4.19
Willow==0.3.1
beautifulsoup4==4.5.1
django-appconf==1.0.2
django-compressor==2.1
django-modelcluster==2.0
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.4.6
html5lib==0.999999
pytz==2016.6.1
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
wagtail==1.6.1
